@use "./fonts" as *;

$colors: (
	White: hsl(0, 0%, 100%),
	Light-gray: hsl(212, 45%, 89%),
	Grayish-blue: hsl(220, 15%, 55%),
	Dark-blue: hsl(218, 44%, 22%),
	/* --- custome --- */
	Dark-shadow: hsla(0, 0%, 0%, 0.048),
);

$sizes: (
	paragraph: 15.5px,
	heading-xxx: 1.39rem,
);

$fonts: (
	outfit: ("Outfit", sans-serif)
)
