@use "../abstracts/functions" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: color(light-clr);
	font-family: font(Josefin_Sans);
	background-color: color(primary);
}

:focus {
	outline: none;
}

::selection {
	background-color: rgba(color(secondary), 0.4);
}

img,
svg {
	display: block;
}

img {
	max-width: 100%;
}

main {
	margin-top: 5rem;
}
