@use "../abstracts/functions" as *;
@use "../abstracts/breakpoints" as *;

.badge {
	font-size: 0.7rem;
	font-weight: 800;
	padding: 0.12rem 0.25rem;
	border-radius: 100vmax;
	background-color: #eee;

	@include respond(sm) {
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
	}
	@include respond(md) {
		font-size: 0.63rem;
		padding: 0.2rem 0.4rem;
	}

	&--danger {
		color: color(Light_Red);
		background-color: color(Light_Grayish_Red);
	}
}
