.shine {
	position: relative;

	&::before {
		display: inline-block;
		position: absolute;
		content: "";
		top: 0;
		left: -75%;
		width: 50%;
		height: 100%;
		z-index: 2;
		cursor: zoom-in;
		transition: 0.3s linear;
		transform: skewX(-25deg);
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0) 0%,
			hsla(162, 73%, 46%, 0.1) 100%
		);
	}

	&:hover::before {
		left: 125%;
		transition: 0.5s linear;
		background: linear-gradient(
			to right,
			rgba(255, 255, 255, 0) 0%,
			hsla(162, 73%, 46%, 0.3) 100%
		);
	}
	&:hover .card__img {
		transform: scale(1.05);
		filter: grayscale(0);
	}
}
