@font-face {
	font-family: "Josefin_Sans";
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Josefin_Sans/JosefinSans-Bold.woff);
}
@font-face {
	font-family: "Josefin_Sans";
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Josefin_Sans/JosefinSans-Regular.woff);
}
@font-face {
	font-family: "Josefin_Sans";
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/Josefin_Sans/JosefinSans-Light.woff);
}

$fonts: (
	"Josefin_Sans": ("Josefin_Sans", sans-serif),
);
