@use "../abstracts/breakpoints" as *;

.container {
	max-width: 400px;
	padding: 0 1rem;
	margin: 0 auto;

	@include respond(sm) {
		max-width: 600px;
	}
	@include respond(md) {
		max-width: 800px;
	}
	@include respond(lg) {
		max-width: 1000px;
	}
	@include respond(xl) {
		max-width: 1200px;
	}
	@include respond(xxl) {
		max-width: 1400px;
	}
}
