@font-face {
	font-family: "Rubik";
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
	font-family: "Rubik";
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/Rubik/Rubik-Light.ttf");
}
