@use "sass:color";
@use "../abstracts/functions" as *;
@use "../abstracts/breakpoints" as *;

.btn {
	display: inline-block;
	text-transform: uppercase;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid transparent;
	&--reset {
		color: color(Very-dark-cyan);
		width: 100%;
		font-size: 1.25rem;
		padding: 0.73rem;
		margin-top: 0.4rem;
		transition: background 0.25s ease-out;
		background-color: color(Strong-cyan);

		&:not(:disabled):hover,
		&:not(:disabled):focus {
			background-color: adjust-color(
				color(Light-grayish-cyan),
				$hue: -12deg,
				$saturation: 20%,
				$lightness: -7%
			);
		}
		&:disabled {
			opacity: 0.3;
			cursor: auto;
		}
	}
}
