@use "../abstracts/functions" as *;

.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background: #fff url(../images/loader.gif) no-repeat center;

	&.hidden {
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease-in-out;
	}
}
