@use "../abstracts/functions" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	display: grid;
	height: 100vh;
	color: color(Dark-grayish-cyan);
	place-items: center;
	background-color: color(Light-grayish-cyan);
}

img {
	display: block;
}

small {
	display: inline-block;
	color: color(Grayish-cyan);
	margin-top: 0.4rem;
}

label,
.label {
	display: block;
	margin-bottom: 0.55rem;
}

// Hide number input arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
