@font-face {
	font-family: "Manrope";
	font-weight: 800;
	font-display: swap;
	src: url(../fonts/Manrope/Manrope-ExtraBold.woff);
}
@font-face {
	font-family: "Manrope";
	font-weight: 600;
	font-display: swap;
	src: url(../fonts/Manrope/Manrope-SemiBold.woff);
}

$fonts: (
  "Manrope": ("Manrope", sans-serif),
);
